[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bandit = "*"
click = "*"
thoth-common = "*"
thoth-analyzer = "*"

[requires]
python_version = "3.6"
